@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --black: rgb(26, 26, 26);

  --white: rgb(254, 254, 255);

  --gray: rgb(191, 191, 191);
  --gray-light: #f3f6fc;
  --gray-dark: rgb(89, 89, 89);

  --yellow: rgb(255, 204, 0);
  --yellow-light: rgb(255, 250, 230);

  --green: rgb(51, 204, 51);
  --green-light: rgb(235, 250, 235);

  --red: rgb(255, 51, 0);
  --red-light: rgb(255, 235, 230);

  --blue: rgb(0, 85, 255);
  --blue-light: rgb(230, 238, 255);
}

html {
  font-size: 16px;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--black);
}
