@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

:root {
  --black: #192023;
  --black-blue: #2c4041;
  --white: #ffffff;
  --gray: #75777a;
  --yellow: #ffb620;
  --blue: #1c75fd;
  --red: #ff4940;
  --green: #4deb32;
}

html {
  font-size: 18px;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* TODO: these are just for testing, they are gonna be deleted */
.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 32px;
}

.box {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

button {
  border: 1px solid #333;
  background-color: #eee;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.grid button {
  grid-column: 2;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid > * {
    grid-column: 1 !important;
  }
}
