@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

:root {
  --black: rgb(26, 26, 26);

  --white: rgb(254, 254, 255);

  --gray: rgb(191, 191, 191);
  --gray-light: rgb(242, 242, 242);
  --gray-dark: rgb(89, 89, 89);

  --yellow: rgb(255, 204, 0);
  --yellow-light: rgb(255, 250, 230);

  --green: rgb(51, 204, 51);
  --green-light: rgb(235, 250, 235);

  --red: rgb(255, 51, 0);
  --red-light: rgb(255, 235, 230);

  --blue: rgb(0, 85, 255);
  --blue-light: rgb(230, 238, 255);
}

html {
  font-size: 16px;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* TODO: these are just for testing, they are gonna be deleted */
.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 32px;
}

.box {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid > * {
    grid-column: 1 !important;
  }
}
