#__next {
  height: 100vh;
  display: grid;
  place-items: center;
}

html {
  font-size: 16px;
}

body,
* {
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px;
  grid-gap: 32px;
}

.box {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

button {
  border: 1px solid #333;
  background-color: #eee;
  padding: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.grid button {
  grid-column: 2;
}
