.tour--tooltip-wrapper {
  position: absolute;
  width: 350px;
  min-width: 350px;
  max-width: 500px;
  padding: 24px;
  z-index: 999;
  opacity: 0;
  border-radius: 8px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 300ms;
  line-height: 1.5;

  & * {
    padding: 0;
    margin: 0;
  }
}

.tour--tooltip-title {
  font-weight: 700;
  font-size: 24px;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.tour--tooltip-content {
  color: #2c3e50;
  margin-top: 4px;
  line-height: 24px;
  font-size: 16px;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.tour--tooltip-button {
  cursor: pointer;
  letter-spacing: 0.2px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.1);
  color: #ecf0f1;
  background-color: #4834d4;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.tour--tooltip-prev {
}

.tour--tooltip-next {
}

.tour--tooltip-finish {
  background-color: #eb4d4b;
}

.tour--tooltip-footer {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.tour--js-target {
  z-index: 99999 !important;
}

.tour--highlighter-wrapper {
  box-sizing: content-box;
  position: absolute;
  z-index: 998;
  opacity: 0;
  border: 8px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
  transition: all 300ms;
  box-shadow: rgba(33, 33, 33, 0.5) 0px 0px 0px 9999px;
  border-radius: 8px;
}

.visible {
  opacity: 1 !important;
}

.hidden {
  opacity: 0 !important;
}
