:root {
  --primary: #59d499;
  --black: #000;
  --black-900: #222;
  --white: #fff;
  --gray-dark: #555;
  --gray: #888;

  --gap-sm: 0.5rem;
  --gap: 1.5rem;
  --gap-m: 2rem;
  --gap-xl: 3rem;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.08),
    hsla(0, 0%, 100%, 0)
  );
  background-color: var(--black);
  color: var(--gray);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%;
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}
